.formation-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 6rem;
    color: #fff;
  }
  
  .formation-content {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 2.5rem;
    margin-bottom: 60px;
    text-align: center;
  }
  
  h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 30px;
  }
  
  .formation-page p:last-child {
    margin-bottom: 0;
  }

  img{
    width: 100%;
    border-radius: 2rem;
    align-items: center;
    margin-bottom: 30px;
  }