.login-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #fff;
}

.login-form {
  position: relative;
  width: 100%;
  max-width: 400px; 
  padding: 40px; 
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 10px 10px 10px 10px rgba(0.1, 0.1, 0.1, 0.1);
}

.login-form h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #000;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
}




.login-form button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  left: 50%; 
  transform: translateX(-50%);
  bottom: 15px;
  
}

.login-form a {
  color: #007bff;
  text-decoration: none;
  font-size: 13px;
  display: block; 
  margin-top: 1px; 
  margin-bottom: 4rem;
}


.image-container {
  width: 50%;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
