.register-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #fff;
  z-index: 1; 
}

.register-form {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 10px 10px 10px rgba(0.1, 0.1, 0.1, 0.1);
}

.register-form h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #000;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.name-inputs {
  display: flex;
}

.name-inputs .input-group {
  width: 50%;
  margin-right: 5px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-form button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  bottom: 15px;
}

.register-form a {
  color: #007bff;
  text-decoration: none;
  font-size: 13px;
}

.image-container {
  width: 50%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
